In [14]:
import pandas as pd
from pycaret.regression import *
import mlflow

In [15]:
df_train=pd.read_parquet("Data/green_tripdata_2021-01.parquet")

In [16]:
mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment("nyc_taxi_experiment")

In [17]:
def preprocess(df):
    #get trip duration

    df["lpep_dropoff_datetime"]=pd.to_datetime(df["lpep_dropoff_datetime"])

    df["lpep_pickup_datetime"]=pd.to_datetime(df["lpep_pickup_datetime"])

    df["trip_duration"]=df["lpep_dropoff_datetime"]-df["lpep_pickup_datetime"]

    #convert to duration in minutes
    df["trip_duration"]=df["trip_duration"].apply(lambda x: x.total_seconds()/60)

    #We are going to only consider trips with duration between 1 and 60 minutes

    df=df[df["trip_duration"].between(1,60)]

    #Select what categorical and numerical variables we are going to use

    return df

df_train=preprocess(df_train)

In [19]:
reg_nyc_taxi=setup(
                    data=df_train,
                    target="trip_duration",
                    session_id=123,
                  normalize = True, transformation = True, transform_target = True, 
                  combine_rare_levels = True, rare_level_threshold = 0.05,
                  remove_multicollinearity = True, multicollinearity_threshold = 0.95, 
                  numeric_features=["trip_distance","fare_amount","total_amount"],
                  categorical_features=["payment_type","trip_type"],
                  ignore_features=["VendorID","lpep_pickup_datetime","lpep_dropoff_datetime",
                                    "store_and_fwd_flag","extra", "ehail_fee","RatecodeID","PULocationID","DOLocationID","passenger_count"],
                  log_experiment = True, experiment_name = 'nyc_pycaret')

In [ ]:
#best=compare_models(include=["xgboost"])

In [20]:
#create_model and compare_models are essentially the same when comparing only one model
xgb=create_model("xgboost")
#tune_model=tune_model(xgb, n_iter=5)

In [21]:
evaluate_model(xgb)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [22]:
predict_model(xgb)

,trip_distance,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,payment_type_1.0,payment_type_2.0,payment_type_3.0,payment_type_4.0,payment_type_5.0,trip_type_2.0,trip_type_not_available,trip_duration,Label
0,3.058083,0.915436,-0.302493,0.051339,2.253948,-1.125524,1.0,0.0,0.0,0.0,0.0,0.0,0.0,37.099998,41.768776
1,0.424001,-1.007111,3.306362,0.051339,0.383557,0.463146,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.000000,20.119576
2,-0.843515,-1.007111,-0.302493,0.051339,-0.513079,0.463146,0.0,0.0,0.0,0.0,0.0,0.0,1.0,6.000000,6.289106
3,-0.990071,-0.287046,-0.302493,0.051339,-1.156472,0.463146,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.000000,3.722269
4,-0.543516,-1.007111,-0.302493,0.051339,0.173696,0.463146,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9.000000,12.696668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22168,0.289043,-1.007111,-0.302493,0.051339,0.190206,-1.125524,0.0,1.0,0.0,0.0,0.0,0.0,0.0,32.200001,30.726021
22169,-0.369572,-1.007111,-0.302493,0.051339,0.058139,0.463146,0.0,0.0,0.0,0.0,0.0,0.0,1.0,16.000000,14.790009
22170,-0.755976,0.553321,-0.302493,0.051339,-0.989293,-1.125524,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.533333,7.010928
22171,-1.092517,-1.007111,-0.302493,0.051339,0.539569,-1.125524,1.0,0.0,0.0,0.0,0.0,0.0,0.0,19.183332,25.752277
22172,0.227430,0.915436,-0.302493,0.051339,0.674197,0.463146,0.0,0.0,0.0,0.0,0.0,0.0,1.0,13.000000,19.100660

In [24]:
save_model(xgb, "models/xgb_model3")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['payment_type',
                                                             'trip_type'],
                                       display_types=True,
                                       features_todrop=['VendorID',
                                                        'lpep_pickup_datetime',
                                                        'lpep_dropoff_datetime',
                                                        'store_and_fwd_flag',
                                                        'extra', 'ehail_fee',
                                                        'RatecodeID',
                                                        'PULocationID',
                                                        'DOLocationID',
                                                        'passenger_count'],
                                       id_columns=[], ml_usecase='regression',
                                       numeri...
                                                  learning_rate=None,
                                                  max_bin=None,
                                                  max_cat_to_onehot=None,
                                                  max_delta_step=None,
                                                  max_depth=None,
                                                  max_leaves=None,
                                                  min_child_weight=None,
                                                  missing=nan,
                                                  monotone_constraints=None,
                                                  n_estimators=100, n_jobs=-1,
                                                  num_parallel_tree=None,
                                                  objective='reg:squarederror',
                                                  power_transformer_method='box-cox',
                                                  power_transformer_standardize=True,
                                                  predictor=None, ...)]],
          verbose=False),
 'models/xgb_model3.pkl')